<h2>Welcome to {{ title }}</h2>
<!-- 
  This is called as data binding.
  Angular is used to create Single Page Applications (SPAs)
  Single page application loads a single html file in the browser and it will be rendered by the browser.
  SPAs are faster than that of other websites as they render the page seemlessly due to less time as user does not need to request the server again and again for different HTML files.
  In this project index.html is the file that will be rendered in the browser and all other files will be called as per their necessasity.
  This change in the content which happens dynamically is done using typescript i.e. strict javascript.
 -->